/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: auto;
}

h2, a {
    font-family: 'Tenor Sans', sans-serif;
}

/* NAV */

.icon-gatien {
    height: 7vw;
}

.navbar-brand {
    font-size: 3rem;
}

.nav-link {
    font-size: 1.3rem;
}

/* FLEX */

.section-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HOME */

.section-home {
    height: 65vw;
    background-image: url(assets/pexels-antonio-cuellar-4366058.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

.section-home-txt {
    font-size: 5rem;
    font-family: 'Tenor Sans', sans-serif;
}

.subtitle {
    font-size: 2rem;
}

/* ABOUT */

.section-about {
    height: 54.6vw;
    flex-direction: row;
    justify-content: space-evenly;
}

.div-about-txt {
    width: 50vw;
}

.about-title {
    font-size: 3rem;
}

.about-p {
    width: 40vw;
    margin-top: 5vw;
    font-size: 1.5rem;
    font-family: 'Tenor Sans', sans-serif;
}

.gatien-img {
    width: 50vw;
}

/* ESTATES */

.section-estates {
    margin-top: 5vw;
    height: 50vw;
    flex-direction: column;
    justify-content: space-evenly;
}

.div-estates {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.div-estates-item {
    width: 30vw;
    height: 20vw;
    display: flex;
    background-color: black;
    color: wheat;
}

.item1, .item2, .item3, .item4, .item5, .item6 {
    background-size: cover;
}

.item1{
    background-image: url(assets/oceanfrontcondos.jpeg);
}

.item2{
    background-image: url(assets/housepools.jpeg);
}

.item3{
    background-image: url(assets/townhomes.jpeg);
}

.item4{
    background-image: url(assets/waterfront.jpeg);
}

.item5 {
    background-image: url(assets/gated.jpg);
}

.item6 {
    background-image: url(assets/golfhouse.jpeg);
}

.item-button {
    border: solid white 3px;
    padding: 1vw;
}

.item-button:hover {
    background-color: white;
}

.item-button:hover > .button {
    color: black;
}

.button {
    color: white;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;  font-weight: 700;
    font-size: 1.5rem;
}

/* PRESS */

.section-press {
    height: 10vw;
}


/* NEIGHBORHOODS */

.section-neigghborhoods {
    height: 50vw;
}


/* TESTIMONIALS */

.title-test {
    font-family: 'Tenor Sans', sans-serif;
    color: white;
}

.testim-text {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.2rem;
}

.div-testim {
    margin-top: 3vw;
}

/* CONTACT */

.section-contact {
    height: 50vw;
}

.section-contact-text {
    font-family: 'Tenor Sans', sans-serif;
}